body {
  padding: 0;
  margin: 0;
  background: rgb(243,243,243);
}

.header-container {
  background: white;
/*   padding: 0 100px;
  padding-top: 60px; */
}

.header {
  width: 100%;
  margin: auto;
  padding-bottom: 60px;
  text-align: center;
}

.header h3 {
  font-weight: normal;
}

.nav-bar {
  margin-bottom: 20px;
}

.nav-bar ul {
  margin: auto;
}

.nav-bar li {
  width: 33.33%;
  text-align: center;
}

.nav-bar li a {
  color: black;
}

.nav-bar li a:hover {
  color: orange;
}

.nav-bar li:hover {
  cursor: pointer;
  color: orange;
}

.chosen {
  border-bottom: 4px solid orange;
}

.container {
  padding: 20px;
}

.tag {
/*   border: 1px solid black;
  border-radius: 8px; */
  padding: 8px 15px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.tag .input-group {
  margin: auto;
  margin-bottom: 10px;
}

.tag-child {
  display: inline-block;
  background: #ccc;
  margin: 0 2px;
  padding: 4px 8px;
  padding-right: 15px;
  border-radius: 3px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 0.7em;
  position: relative;
}

.tag-child .fa-times {
  position: absolute;
  font-size: 0.5em;
  top: 2px;
  right: 3px;
}

.tag-child .fa-times:hover {
  color: orange;
  cursor: pointer;
}

.tag-select {
  width: 80%;
  margin: 30px auto;
  margin-bottom: 40px;
  text-align: center;
}

.tag-select-child {
  text-transform: uppercase;
  padding: 2px 5px;
}

.tag-select-child:hover {
  background: orange;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.colors {
  width: 80%;
  margin: auto;
  text-align: center;
}

.colors span {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px; 
  transition: 0.3s;
}

.colors span:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.map-container {
  height: 800px;
  position: relative;
}

.map {
  margin: auto;
  overflow: hidden;
  transition: 0.5s;
}

.has-border {
  border: 20px solid white;
}

.small-screen {
  width: 80%;
  height: 90%;
}

.full-screen {
  width: 100%;
  height: 100%;
}

.options {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.pos {
  top: 20px;
}

.fixed-pos {
  position: fixed;
}

.abs-pos {
  position: absolute;
}

.map-pos {
  right: 1%;
  top: 20px;
}

.zoom .btn {
  display: block;
  margin-bottom: 5px;
  padding: 5px 0;
  text-align: center;
  width: 30px;
}

.description {
  background: white;
  padding: 20px;
}

.description h3 {
  text-align: center;
}

.footer {
  padding: 20px;
}

button {
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .header-container {
    padding: 0 100px;
    padding-top: 60px;
  }
  .nav-bar ul {
    width: 60%;
  }
  .nav-bar li {
    font-size: 1.2em;
  }
  .pos {
    right: 7%;
  }
  .tag {
    width: 70%;
  }
  .tag .input-group {
    width: 350px;
  }
}

@media screen and (max-width: 999px) {
  .header-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
  }
  .header h1 {
    font-size: 2em;
  }
  .header h3 {
    font-size: 1.3em;
  }
  .nav-bar ul {
    width: 100%;
  }
  .nav-bar li {
    font-size: 1em;
  }
  .pos{
    right: 1%;
  }
  .tag {
    width: 350px;
  }
}

.hidden {
  display: none;
}

.sidebar-container {
  width: 300px;
  height: 100%;
  position: fixed;
  left: -300px;
  top: 0;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 999;
  background: rgb(243,243,243);
}

.sidebar-heading {
  width: 100%;
  text-align: center;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  padding: 10px;
  position: relative;
}

.fa.fa-times.close {
  position: absolute;
  right: 20px;
  top: 12px;
}

.fa.fa-times.close:hover {
  color: orange;
  cursor: pointer;
}

.sidebar-container ul {
  padding: 20px;
}

.space-on-top {
  margin-top: 20px;
}

.bar-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
  padding: 5px 10px;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px rgba(150,150,150,1);
  color: white;
}

.bar-icon:hover {
  color: orange;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
}

.sidebar-tag {
  padding: 0;
  width: 100%;
}

.sidebar-tag-select {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 0.8em;
}

.sidebar-colors {
  width: 100%;
}

.sidebar-colors span {
  width: 60px;
  height: 60px;
  margin: 0;
}